.signupForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.signupForm img {
  width: 40%;
}
.signup {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #8ac8da;
}
.signup h2 {
  color: #161616;
  text-align: center;
}
hr {
  margin-bottom: 10px;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.signup button:hover {
  background-color: #0056b3;
}
fieldset {
  padding: 0.5rem;
  border-radius: 5px;
}
legend {
  text-align: center;
  padding: 0 5px;
}
.google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.github {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
